<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="monetcollect_payment" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MoneyCollect Payment</label>
                <comment>Accept online payments using MoneyCollect, the platform of choice of forward-thinking businesses around the world.</comment>
                <include path="Moneycollect_Payment::system/basic.xml"/>
                <include path="Moneycollect_Payment::system/card.xml"/>
            </group>
        </section>
    </system>
</config>